/* styles module for eventtabs */

.activetab {
    border-bottom: 0px;
    transition: border 0.15s;
}

.inactivetab {
    border-bottom: 0px;
    color: rgb(137, 136, 136);
    transition: border 0.15s;
}