/* styles module for animated favorite btn */

/* From Uiverse.io by catraco */ 
/* FAVORITE BTN */

.heart_container {
  --heart-color: gray; /* rgb(222, 91, 91); */
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
  transform: scale(0.5);
}

.heart_container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart_container .svg_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart_container .svg_outline,
        .heart_container .svg_filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart_container .svg_filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart_container .svg_celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart_container .checkbox:checked~.svg_container .svg_filled {
  display: block
}

.heart_container .checkbox:checked~.svg_container .svg_celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

/* REMIND ME */

.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .bell_regular {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .bell_solid {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .bell_regular {
  display: none;
}

.container input:checked ~ .bell_solid {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    opacity: 0;
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(-20deg) scale(1.2);
  }

  75% {
    transform: rotate(15deg);
  }
}