/* styles for loading */

.loading {
    animation: loading 1s linear infinite;
  }
  
  @keyframes skeleton-loading {
    0% {
      transform: rotate(0deg);
      /* background-color: hsl(200, 20%, 80%); */
    }
    100% {
      transform: rotate(360deg);
      /* background-color: hsl(200, 20%, 95%); */
    }
  }